node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.env.local
.env.development
.env.test
.env.production
build
.DS_Store
*.log
.vscode
.idea
*.swp
*.swo
*~
coverage
.nyc_output